#include "wx.rc"

tb_alea         BITMAP "..\\bitmaps\\alea.bmp"
tb_open         BITMAP "..\\bitmaps\\open.bmp"
tb_save         BITMAP "..\\bitmaps\\save.bmp"
tb_new          BITMAP "..\\bitmaps\\new.bmp"
tb_repl         BITMAP "..\\bitmaps\\repl.bmp"
tb_delete       BITMAP "..\\bitmaps\\delete.bmp"
tb_cut          BITMAP "..\\bitmaps\\cut.bmp"
tb_quantize     BITMAP "..\\bitmaps\\quantize.bmp"
tb_mixer        BITMAP "..\\bitmaps\\mixer.bmp"
tb_undo         BITMAP "..\\bitmaps\\undo.bmp"
tb_redo         BITMAP "..\\bitmaps\\redo.bmp"
tb_evnts        BITMAP "..\\bitmaps\\evnts.bmp"
tb_panic        BITMAP "..\\bitmaps\\panic.bmp"
tb_help         BITMAP "..\\bitmaps\\help.bmp"
tb_note8        BITMAP "..\\bitmaps\\note8.bmp"
tb_note83       BITMAP "..\\bitmaps\\note83.bmp"
tb_note16       BITMAP "..\\bitmaps\\note16.bmp"
tb_note163      BITMAP "..\\bitmaps\\note163.bmp"
tb_majscale     BITMAP "..\\bitmaps\\majscale.bmp"
tb_harscale     BITMAP "..\\bitmaps\\harscale.bmp"
tb_melscale     BITMAP "..\\bitmaps\\melscale.bmp"
tb_ionscale     BITMAP "..\\bitmaps\\ionscale.bmp"
tb_same4        BITMAP "..\\bitmaps\\same4.bmp"
tb_same3        BITMAP "..\\bitmaps\\same3.bmp"
tb_same2        BITMAP "..\\bitmaps\\same2.bmp"
tb_same1        BITMAP "..\\bitmaps\\same1.bmp"
tb_sameh        BITMAP "..\\bitmaps\\sameh.bmp"
tb_sameb        BITMAP "..\\bitmaps\\sameb.bmp"
tb_same0        BITMAP "..\\bitmaps\\same0.bmp"
tb_std251       BITMAP "..\\bitmaps\\std251.bmp"
tb_tritone      BITMAP "..\\bitmaps\\tritone.bmp"
tb_haunsch      BITMAP "..\\bitmaps\\haunsch.bmp"
tb_piano        BITMAP "..\\bitmaps\\piano.bmp"
tb_transpos     BITMAP "..\\bitmaps\\transpos.bmp"
tb_analyze      BITMAP "..\\bitmaps\\analyze.bmp"
tb_delchord     BITMAP "..\\bitmaps\\delchord.bmp"
tb_shiftl       BITMAP "..\\bitmaps\\shiftl.bmp"
tb_shiftr       BITMAP "..\\bitmaps\\shiftr.bmp"
tb_rrgadd       BITMAP "..\\bitmaps\\rrgadd.bmp"
tb_rrgdel       BITMAP "..\\bitmaps\\rrgdel.bmp"
tb_rrgup        BITMAP "..\\bitmaps\\rrgup.bmp"
tb_rrgdown      BITMAP "..\\bitmaps\\rrgdown.bmp"
tb_rrggen       BITMAP "..\\bitmaps\\rrggen.bmp"
tb_pianowin     BITMAP "..\\bitmaps\\pianowin.bmp"

tb_select       BITMAP "..\\bitmaps\\select.bmp"
tb_length       BITMAP "..\\bitmaps\\length.bmp"
tb_dialog       BITMAP "..\\bitmaps\\dialog.bmp"

tb_play         BITMAP "..\\bitmaps\\play.bmp"
tb_playloop     BITMAP "..\\bitmaps\\playloop.bmp"
tb_record       BITMAP "..\\bitmaps\\record.bmp"
tb_metro        BITMAP "..\\bitmaps\\metro.bmp"

tb_accept       BITMAP "..\\bitmaps\\accept.bmp"
tb_cancel       BITMAP "..\\bitmaps\\cancel.bmp"
tb_zoomin       BITMAP "..\\bitmaps\\zoomin.bmp"
tb_zoomout      BITMAP "..\\bitmaps\\zoomout.bmp"
tb_cutpaste     BITMAP "..\\bitmaps\\cutpaste.bmp"

